@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.SCIcon{
    width: 28px;
    height: 28px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 2px;
    background-color: #ededed;
    color: #242424;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #242424;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.pageActive{
    background-color: #ff2e96;
    color: white;
}